In [76]:
# Importing the required libraries
from selenium import webdriver
import pandas as pd
import warnings 
from bs4 import BeautifulSoup
warnings.filterwarnings('ignore')
import requests
import time

In [2]:
#connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

**Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.**

In [3]:
r=requests.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
r.status_code

200

In [4]:
a=r.content
soup=BeautifulSoup(a,'html.parser')

In [6]:
#Creating Empty lists
rnk=[]
nm=[]
ar=[]
up=[]
vi=[]

In [7]:
# Extracting the required details
Details=soup.find_all('tr')

In [9]:
#Filling empty lists
j=1
for i in range(len(Details)):
    if i>=3 and i<=32:
        nm.append(Details[i].text.split('\n')[2].split('"')[1])
        rnk.append(j)
        ar.append(Details[i].text.split('\n')[3])
        up.append(Details[i].text.split('\n')[5])
        vi.append(Details[i].text.split('\n')[4]+" Billion")
        j+=1

In [11]:
#checking length of the  scraped data
len(rnk),len(ar),len(up),len(vi),len(nm)

(30, 30, 30, 30, 30)

In [12]:
# Creating DataFrame
Most_Watched=pd.DataFrame()
Most_Watched['Rank']=rnk
Most_Watched['Name']=nm
Most_Watched['Artist']=ar
Most_Watched['Upload Date']=up
Most_Watched['Views']=vi

In [14]:
Most_Watched.set_index('Rank')

,Name,Artist,Upload Date,Views
Rank,,,,
1,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.53 Billion
2,Despacito,Luis Fonsi,"January 12, 2017",7.82 Billion
3,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.31 Billion
4,Shape of You,Ed Sheeran,"January 30, 2017",5.69 Billion
5,See You Again,Wiz Khalifa,"April 6, 2015",5.48 Billion
6,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.27 Billion
7,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.58 Billion
8,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.56 Billion
9,Uptown Funk,Mark Ronson,"November 19, 2014",4.54 Billion
10,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.49 Billion
11,Gangnam Style,Psy,"July 15, 2012",4.40 Billion
12,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.96 Billion
13,Dame Tu Cosita,El Chombo,"April 5, 2018",3.92 Billion
14,Sugar,Maroon 5,"January 14, 2015",3.68 Billion
15,Roar,Katy Perry,"September 5, 2013",3.56 Billion
16,Counting Stars,OneRepublic,"May 31, 2013",3.56 Billion
17,Sorry,Justin Bieber,"October 22, 2015",3.54 Billion
18,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.44 Billion
19,Axel F,Crazy Frog,"June 16, 2009",3.32 Billion
20,Girls Like You,Maroon 5,"May 31, 2018",3.28 Billion
21,Faded,Alan Walker,"December 3, 2015",3.27 Billion
22,Dark Horse,Katy Perry,"February 20, 2014",3.26 Billion
23,Let Her Go,Passenger,"July 25, 2012",3.21 Billion
24,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.21 Billion
25,Bailando,Enrique Iglesias,"April 11, 2014",3.19 Billion
26,Lean On,Major Lazer,"March 22, 2015",3.19 Billion
27,Shake It Off,Taylor Swift,"August 18, 2014",3.16 Billion
28,Perfect,Ed Sheeran,"November 9, 2017",3.14 Billion
29,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.12 Billion
30,Mi Gente,J Balvin,"June 29, 2017",3.07 Billion

**Q2. Scrape the details team India’s international fixtures from bcci.tv.**

In [15]:
#connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [16]:
Url = 'https://www.bcci.tv/.'
driver.get(Url)
driver.maximize_window()

In [57]:
#Creating Empty lists
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [37]:
Fixture=driver.find_element_by_xpath('/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a')

In [38]:
Fixture.click()

In [39]:
match=driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')
series=driver.find_elements_by_xpath('//span[@class="ng-binding"]')
place=driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]')
date=driver.find_elements_by_xpath('//h5[@class="ng-binding"]')
time=driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]')

In [58]:
for i in range(len(match)):
        Match.append(match[i].text)
        Series.append(series[i].text)
        Place.append(place[i].text)
        Date.append(date[i].text)
        Time.append(time[i].text)

In [63]:
date[0].text

'9 JUN 2022'

In [64]:
# Creating DataFrame
FIXTURE=pd.DataFrame()
FIXTURE['Match Title']=Match
FIXTURE['Series']=Series
FIXTURE['Place']=Place
FIXTURE['Date']=Date
FIXTURE['Time']=Time

In [65]:
FIXTURE

,Match Title,Series,Place,Date,Time
0,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium,",9 JUN 2022,7:30 PM IST
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium,",12 JUN 2022,7:30 PM IST
2,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",14 JUN 2022,7:30 PM IST
3,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",17 JUN 2022,7:30 PM IST
4,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",19 JUN 2022,7:30 PM IST

**Q3. Scrape the details of selenium exception from guru99.com.**

In [66]:
#connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [67]:
Url = 'https://www.guru99.com/'
driver.get(Url)
driver.maximize_window()

In [68]:
# Did not understand what to do in this question

**Q4. Scrape the details of State-wise GDP of India from statisticstime.com.**

In [97]:
#connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [98]:
Url = 'http://statisticstimes.com/'
driver.get(Url)
driver.maximize_window()

In [99]:
economy=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
indian=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')

In [100]:
economy.click()
time.sleep(2)
indian.click()

In [104]:
#handling popup ad by clicking anywhere
action = webdriver.common.action_chains.ActionChains(driver)
action.move_to_element_with_offset(economy, 5, 5)
action.click()
action.perform()

In [105]:
state=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
time.sleep(2)
state.click()

In [159]:
#creating Empty lists
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

In [160]:
name=driver.find_elements_by_xpath('//td[@class="name"]')
gsd1=driver.find_elements_by_xpath('//td[@class="data"]')
gsd2=driver.find_elements_by_xpath('//td[@class="data sorting_1"]')

In [161]:
j=1
for i in name:
    if i.text=='India':
        break
    else:
        State.append(i.text)
        Rank.append(j)
        j+=1

In [162]:
for i in range(len(gsd1)):
    if i>165:
        break
    elif i%5==0:
        GSDP1.append(gsd1[i].text)
    elif i%5==1:
        Share.append(gsd1[i].text)
    elif i%5==2:
        GDP.append(gsd1[i].text+ " $ Billion")

In [163]:
for i in gsd2:
    if len(GSDP2)>32:
        break
    GSDP2.append(i.text)

In [169]:
# Creating DataFrame
GDP_Report=pd.DataFrame()
GDP_Report['Rank']=Rank
GDP_Report['State']=State
GDP_Report['GSDP1']=GSDP1[:33]
GDP_Report['GSDP2']=GSDP2
GDP_Report['Share']=Share
GDP_Report['GDP']=GDP

In [170]:
GDP_Report

,Rank,State,GSDP1,GSDP2,Share,GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921 $ Billion
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629 $ Billion
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726 $ Billion
3,4,Gujarat,-,"1,502,899",7.96%,228.290 $ Billion
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806 $ Billion
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556 $ Billion
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179 $ Billion
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083 $ Billion
8,9,Telangana,"969,604","861,031",4.56%,130.791 $ Billion
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977 $ Billion
10,11,Kerala,-,"781,653",4.14%,118.733 $ Billion
11,12,Delhi,"856,112","774,870",4.10%,117.703 $ Billion
12,13,Haryana,"831,610","734,163",3.89%,111.519 $ Billion
13,14,Bihar,"611,804","530,363",2.81%,80.562 $ Billion
14,15,Punjab,"574,760","526,376",2.79%,79.957 $ Billion
15,16,Odisha,"521,275","487,805",2.58%,74.098 $ Billion
16,17,Assam,-,"315,881",1.67%,47.982 $ Billion
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187 $ Billion
18,19,Jharkhand,"328,598","297,204",1.57%,45.145 $ Billion
19,20,Uttarakhand,-,"245,895",1.30%,37.351 $ Billion
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690 $ Billion
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369 $ Billion
22,23,Goa,"80,449","73,170",0.39%,11.115 $ Billion
23,24,Tripura,"55,984","49,845",0.26%,7.571 $ Billion
24,25,Chandigarh,-,"42,114",0.22%,6.397 $ Billion
25,26,Puducherry,"38,253","34,433",0.18%,5.230 $ Billion
26,27,Meghalaya,"36,572","33,481",0.18%,5.086 $ Billion
27,28,Sikkim,"32,496","28,723",0.15%,4.363 $ Billion
28,29,Manipur,"31,790","27,870",0.15%,4.233 $ Billion
29,30,Nagaland,-,"27,283",0.14%,4.144 $ Billion
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737 $ Billion
31,32,Mizoram,"26,503","22,287",0.12%,3.385 $ Billion
32,33,Andaman & Nicobar Islands,-,-,-,- $ Billion

**Q5.Scrape the details of trending repositories on Github.com.**

In [171]:
#connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [238]:
 Url ='https://github.com/'
driver.get(Url)
driver.maximize_window()

In [174]:
explore=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
time.sleep(2)
explore.click()
trending=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
time.sleep(2)
trending.click()

In [233]:
#Creating Empty Lists
Repository_title=[]
description=[]
Contributors=[]
Language=[]

In [234]:
title=driver.find_elements_by_xpath('//span[@class="text-normal"]')
desc=driver.find_elements_by_xpath('//article[@class="Box-row"]')
cont=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]')
lang=driver.find_elements_by_xpath('//div[@class="f6 color-fg-muted mt-2"]')

In [235]:
for i in title:
    Repository_title.append(i.text.replace('/',''))
for i in desc:
    description.append(i.text.split('\n')[1])
for i in range(len(cont)):
    if i%2==1:
        Contributors.append(cont[i].text)
for i in lang:
        Language.append(i.text.split()[0])

In [236]:
# Creating DataFrame
github=pd.DataFrame()
github['Repository_title']=Repository_title
github['description']=description
github['Contributors']=Contributors
github['Language']=Language

In [237]:
github

,Repository_title,description,Contributors,Language
0,facebookresearch,Repo for external large-scale work,128,Python
1,education,"Join the GitHub Graduation Yearbook and ""walk ...","3,027",JavaScript
2,freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"28,592",TypeScript
3,scottbez1,Haptic input knob with software-defined endsto...,455,C++
4,microsoft,Windows system utilities to maximize productivity,"4,096",C#
5,pyscript,"JavaScript 6,595 369 Built by",369,JavaScript
6,huggingface,This repo contain the syllabus of the Hugging ...,61,Jupyter
7,Dimbreath,Repository containing the game data for the ga...,332,920
8,mikeroyal,Digital Forensics Guide,18,Python
9,Grasscutters,A server software reimplementation for a certa...,"1,727",Java
10,microsoft,"12 weeks, 26 lessons, 52 quizzes, classic Mach...","6,782",Jupyter
11,directus,The Modern Data Stack 🐰 — Directus is an insta...,"1,772",TypeScript
12,Azure,Python notebooks with ML and deep learning exa...,"2,135",Jupyter
13,baptixta,🎮 Referências para Game Designers.,8,78
14,justjavac,📚 免费的计算机编程类中文书籍，欢迎投稿,"26,026","92,129"
15,dotnet,This repository contains .NET Documentation.,"5,101","3,284"
16,aptos-labs,A layer 1 for everyone!,354,Rust
17,theVakhovskeIsTaken,SteamOS 3 (Holo) archiso configuration,9,Shell
18,NginxProxyManager,Docker container for managing Nginx proxy host...,928,JavaScript
19,Azure,Azure Quickstart Templates,"14,412",Shell
20,SebLague,"C# 1,479 168 Built by",168,C#
21,apple,CVNets: A library for training computer vision...,70,Python
22,flybywiresim,The A32NX Project is a community driven open s...,840,JavaScript
23,monicahq,Personal CRM. Remember everything about your f...,"1,675",PHP
24,grafana,The open and composable observability and data...,"9,573",TypeScript

**Q7. Scrape the details of Data science recruiters from naukri.com.**

In [284]:
#connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [285]:
Url = 'https://www.naukri.com/hr-recruiters-consultants'
driver.get(Url)
driver.maximize_window()

In [286]:
#Creating Empty Lists
Name=[]
Designation=[]
Company=[]
DSkills=[]
Location=[]

In [287]:
search=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys('Data Science')

In [288]:
search_btn=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search_btn.click()

In [289]:
name=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
desig=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
comp=driver.find_elements_by_xpath('//a[@class="ellipsis"]')
skill=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
loc=driver.find_elements_by_xpath('//small[@class="ellipsis"]')

In [292]:
for i in name:
    Name.append(i.text)
for i in desig:
    Designation.append(i.text)
for i in skill:
    DSkills.append(i.text)
for i in range(len(comp)):
    if i%2==1:
        Company.append(comp[i].text)
for i in loc:
    Location.append(i.text)

In [298]:
len(Location)

48

In [299]:
# Creating DataFrame
DS=pd.DataFrame()
DS['Name']=Name[:48]
DS['Designation']=Designation[:48]
DS['DSkills']=DSkills[:48]
DS['Company']=Company[:48]
DS['Location']=Location

In [300]:
DS

,Name,Designation,DSkills,Company,Location
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Data Science Network,Delhi
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",MARSIAN Technologies LLP,Pune
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Enerlytics Software Solutions Pvt Ltd,Ahmedabad
4,subhas patel,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",LibraryXProject,UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana...",Apidel Technologies Division of Transpower,Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,Data Science,IFMR,Chennai
7,Balu Ramesh,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu...",Techvantage Systems Pvt Ltd,Trivandrum
8,Asif Lucknowi,Director,"Technical Training, Software Development, Pres...",Weupskill- Live Wire India,Indore
9,InstaFinancials,Human Resource,"Software Development, It Sales, Account Manage...",CBL Data Science Private Limited,Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET...",Infinitive Software Solutions,Hyderabad
11,Kalpana Dumpala,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Innominds Software,Hyderabad / Secunderabad
12,Mubarak,Company HR,"Business Intelligence, Data Warehousing, Data ...",MoneyTap,Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,"Office Administration, Hr Administration, tele...",QuantMagnum Technologies Pvt. Ltd.,Mumbai
14,Mahesh Babu Channa,HR Team Lead,"Social Media, digital media maketing, seo, smm...",SocialPrachar.com,Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,"React.js, Data Science, Java, Front End, Busin...",BIZ INFOTECNO PRIVATE LIMITED,Chandigarh
16,Kapil Devang,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science",BISP Solutions,Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Bristlecone India Ltd,Pune
18,Manisha Yadav,HR Executive,"Telecalling, Client Interaction, Marketing, Re...",Easi Tax,Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Data Science,Novelworx Digital Solutions,Cochin
20,Rashmi Bhattacharjee,HR Head,"Corporate Sales, Software Development, Softwar...",AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi
21,Faizan Kareem,HR MANAGER,"Data Analytics, Data Science, Machine Learning...",FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee...",Affine Analytics,Pune
23,Sandhya Khandagale,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc...",Compumatrice Multimedia Pvt Ltd,Pune
24,Shaun Rao,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Exela Technologies,Pune
25,Azahar Shaikh,Company Recruiter,"Data Science, Artificial Intelligence, Machine...",NEAL ANALYTICS SERVICES PVT LTD,Pune
26,Manas,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product...",Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore
27,kumar,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",trainin,Bengaluru / Bangalore
28,Sunil Vedula,CEO,"Signal Processing, Machine Learning, Neural Ne...",Nanoprecise Sci Corp,Delhi
29,Rajat Kumar,Founder CEO,"Web Technologies, Project Management, Software...",R.S Consultancy &amp; Services,Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ...",Confidential,Hyderabad / Secunderabad
31,Avodha,Business Development Associate,"Ethical Hacking, Security Operations Center, S...",Nikitha Palaparthi,Mysoru / Mysore
32,Jayanth N,Project Manager,"Data Analytics, Managed Services, Team Leading...","Dollarbird Information Services Pvt, Ltd",Ghaziabad
33,Ravi Dubey,Recruitment Manager,Walmart Interra Skeps Expressstores indifi whi...,HyrEzy Talent Solutions LLP,Mumbai
34,Hemant Jog,Company Recruiter,"Big Data, spark, scala, hadoop, hive, Data War...",Hexaware Technologies Ltd.,Bengaluru / Bangalore
35,Priya Khare,Senior Manager,"Data Science, Artificial Intelligence, analyti...",Independent Consultant,New Delhi
36,Amit Sharma,Consultant,"Machine Learning, Artificial Intelligence, Dat...",ASCO consulting,Chennai
37,Kanan,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ...",NY INST,Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private...",3D India Staffing Research &amp; Consulting...,Salt Lake City
39,Brad,"Manager, Technical Recruiting","Data Science, Software Engineering",O.C. Tanner,Pune
40,Rutuja Pawar,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark...",Demand Matrix,Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,"Data Science, Recruitment, Salary",MADHUSUDHAN SRIDHAR,Mumbai
42,Ankit Sinha,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Suntech Global,Indore
43,Gaurav Chouhan,Chief Technical Officer,"Software Development, Business Intelligence, B...",Strategic Consulting Lab,Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,"Data Science, Node.js, Angularjs",Impel Labs Pvt. Ltd.,MYSORE
45,Ashwini,Director Global Delivery,"Data Science, Media Marketing, Resource Planni...",MRP Advisers,Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,"Data Analysis, Learning, Data Science, Compute...",Saras Solutions India Pvt Ltd,Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum...",WildJasmine,Mumbai

**Q8.Scrape the details of Highest selling novels**

In [308]:
#connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [310]:
Url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(Url)
driver.maximize_window()

In [311]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [328]:
details=driver.find_elements_by_xpath('//td[@class="left"]')
genre=driver.find_elements_by_xpath('//td[@class="last left"]')

In [330]:
for i in range(len(details)):
    if i%5==1:
        Book_name.append(details[i].text)
    elif i%5==2:
        Author_name.append(details[i].text)
    elif i%5==3:
        Volumes_sold.append(details[i].text)
    elif i%5==4:
        Publisher.append(details[i].text)
for i in genre: 
    Genre.append(i.text)

In [331]:
# Creating DataFrame
Books=pd.DataFrame()
Books['Book_name']=Book_name
Books['Author_name']=Author_name
Books['Volumes_sold']=Volumes_sold
Books['Publisher']=Publisher
Books['Genre']=Genre

In [332]:
Books

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

**Q9. Scrape the details most watched tv series of all time from imdb.com.**

In [364]:
#connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [365]:
Url = 'https://www.imdb.com/list/ls095964455/'
driver.get(Url)
driver.maximize_window()

In [366]:
Name=[]
Year_span=[]
Genre=[]
Run_time =[]
Ratings=[]
Votes=[]

In [367]:
title=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]')
genre=driver.find_elements_by_xpath('//span[@class="genre"]')
run_time=driver.find_elements_by_xpath('//span[@class="runtime"]')
rating=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
vote=driver.find_elements_by_xpath('//span[@name="nv"]')

In [368]:
for i in title:
    Name.append(i.text.split('.')[1].split('(')[0].strip())
    Year_span.append(i.text.split('(')[1].replace(')',''))
for i in genre:
    Genre.append(i.text)
for i in run_time:
    Run_time.append(i.text)
for i in rating:
    Ratings.append(i.text)
for i in vote:
   Votes.append(i.text)

In [369]:
# Creating DataFrame
Tv=pd.DataFrame()
Tv['Name']=Name[:100]
Tv['Year_span']=Year_span[:100]
Tv['Genre']=Genre[:100]
Tv['Run_time']=Run_time[:100]
Tv['Ratings']=Ratings[:100]
Tv['Votes']=Votes[:100]

In [370]:
Tv

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"1,981,500"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"987,202"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.2,"944,283"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"282,110"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"242,007"
...,...,...,...,...,...,...
95,Reign,2013–2017,"Drama, Fantasy",42 min,7.4,"48,564"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"59,197"
97,Criminal Minds,2005–2020,"Crime, Drama, Mystery",42 min,8.1,"188,909"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"40,032"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"226,487"

**Q10. Details of Datasets from UCI machine learning repositories.**

In [371]:
#connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [372]:
Url = 'https://archive.ics.uci.edu/ml/index.php'
driver.get(Url)
driver.maximize_window()

In [373]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [374]:
all_data=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')

In [375]:
all_data.click()

In [409]:
name=driver.find_elements_by_xpath('//p[@class="normal"]')

In [418]:
for i in range(len(name)):
    if i%7==1 and i>1:
        Dataset_name.append(name[i].text)
    elif i%7==2 and i>2:
        Data_type.append(name[i].text)
    elif i%7==3 and i>3:
        Task.append(name[i].text)
    elif i%7==4 and i>4:
        Attribute_type.append(name[i].text)
    elif i%7==5 and i>5:
        No_of_instances.append(name[i].text)
    elif i%7==6 and i>6:
        No_of_attribute.append(name[i].text)
    elif i%7==0 and i>7:
        Year.append(name[i].text)

In [421]:
# Creating DataFrame
ML=pd.DataFrame()
ML['Dataset_name']=Dataset_name[:622]
ML['Data_type']=Data_type[:622]
ML['Task']=Task[:622]
ML['Attribute_type']=Attribute_type[:622]
ML['No_of_instances']=No_of_instances[:622]
ML['No_of_attribute']=No_of_attribute[:622]
ML['Year']=Year[:622]

In [422]:
ML

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Abalone,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Adult,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Annealing,Multivariate,Recommender-Systems,Categorical,37711,294,1998
4,Anonymous Microsoft Web Data,,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Steel Industry Energy Consumption Dataset,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",400,50,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,,1014,7,2020
620,Maternal Health Risk Data Set,,Classification,Real,10129,16,2021
621,Room Occupancy Estimation,"Multivariate, Time-Series",Regression,Real,4000,2,2021